# Dependencies
node_modules/
backend/__pycache__/
__pycache__/
*.pyc
venv/
.venv/

# Environment Variables & Secrets
.env
.env.local
*.env

# Build outputs
dist/
build/

# IDE & OS
.idea/
.DS_Store
Thumbs.db

# Vercel
.vercel/

.vercel
.env*

scratch/
